/*-----------------------------------*\
  #main.css
\*-----------------------------------*/

/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {
  /**
   * colors
   */

  --violet-blue-crayola: hsla(0, 0%, 21%, 1);
  --dark-cornflower-blue_a7: hsla(214, 88%, 27%, 0.07);
  --white: hsla(0, 0%, 100%, 1);
  --white_a3: hsla(0, 0%, 100%, 0.03);
  --white_a8: hsla(0, 0%, 100%, 0.08);
  --white_a12: hsla(0, 0%, 100%, 0.12);
  --white_a70: hsla(0, 0%, 100%, 0.7);
  --cultured: hsla(220, 20%, 97%, 1);
  --lavender-web: hsla(233, 52%, 94%, 1);
  --cadet-blue-crayola: hsla(220, 12%, 70%, 1);
  --cadet-blue-crayola_a20: hsla(222, 23%, 71%, 0.2);
  --charcoal: #910029;
  --raisin-black: hsla(216, 14%, 14%, 1);
  --light-gray: hsla(0, 0%, 79%, 1);
  --blue-crayola: hsla(219, 72%, 56%, 1);
  --black-coral: hsla(220, 12%, 43%, 1);

  /**
   * typography
   */

  font-family: "Montserrat", sans-serif;

  --fs-1: calc(2.7rem + 1.38vw);
  --fs-2: calc(2.6rem + 0.66vw);
  --fs-3: 2.2rem;
  --fs-4: 1.9rem;
  --fs-5: 1.8rem;
  --fs-6: 1.7rem;
  --fs-7: 1.5rem;
  --fs-8: 1.4rem;

  --fw-700: 700;

  /** 
   * spacing
   */

  --section-padding: 90px;

  /**
   * box shadow
   */

  --shadow-1: 0 0 20px hsla(216, 14%, 14%, 0.05);
  --shadow-2: 0 0 0 0.05rem hsla(214, 88%, 27%, 0.08),
    0 0 1.25rem hsla(216, 14%, 14%, 0.06);
  --shadow-3: 0 0 1.25rem hsla(216, 14%, 14%, 0.04);

  /**
   * border radius
   */

  --radius-circle: 50%;
  --radius-pill: 100px;
  --radius-10: 10px;
  --radius-8: 8px;
  --radius-6: 6px;

  /**
   * transition
   */

  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --transition-3: 0.3s ease-in-out;
}

/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a,
img,
span,
input,
button,
ion-icon {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  height: auto;
}

input,
button {
  background: none;
  border: none;
  font: inherit;
}

input {
  width: 100%;
}

button {
  cursor: pointer;
}

ion-icon {
  pointer-events: none;
}

address {
  font-style: normal;
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  /* background-color: var(--white); */
  color: var(--black-coral);
  font-size: 1.6rem;
  line-height: 1.7;
}

body.nav-active {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: hsl(0, 0%, 98%);
}

::-webkit-scrollbar-thumb {
  background-color: hsl(0, 0%, 80%);
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(0, 0%, 70%);
}

/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.container {
  padding-inline: 16px;
}

.social-list {
  display: flex;
  align-items: center;
  gap: 12px;
}

.social-link {
  font-size: 3rem;
  transition: var(--transition-1);

}

.social-link:is(:hover, :focus-visible) {
  transform: translateY(-3px);
}

.section {
  padding-block: var(--section-padding);
}

.has-bg-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.h1,
.h2,
.h3,
.h4,
.h5 {
  color: var(--charcoal);
  font-weight: var(--fw-700);
  line-height: 1.3;
}

.h1 {
  font-size: var(--fs-1);
}

.h2 {
  font-size: var(--fs-2);
}

.h3 {
  font-size: var(--fs-3);
}

.h4 {
  font-size: var(--fs-4);
}

.h5 {
  font-size: var(--fs-6);
}

.btn {
  color: var(--white);
  font-size: var(--fs-4);
  font-weight: 500;
  /* border: 2px solid #1E1E1E; */
  max-width: max-content;
  padding: 12px 28px;
  border-radius: 3px;
  transition: var(--transition-1);
  will-change: transform;
  justify-content: center;
}

.btn:is(:hover, :focus-visible) {
  transform: translateY(-4px);
}

.btn-primary,
.btn-outline:is(:hover, :focus-visible) {
  background-color: #257DAD;
  color: var(--white);
}

.img-holder {
  aspect-ratio: var(--width) / var(--height);
  background-color: var(--light-gray);
  overflow: hidden;
}

.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-subtitle {
  font-size: var(--fs-7);
  text-transform: uppercase;
  color: var(--violet-blue-crayola);
  font-weight: var(--fw-700);
  margin-block-end: 16px;
}

.grid-list {
  display: grid;
  gap: 26px;
}

.w-100 {
  width: 100%;
}

/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/

.header .btn {
  display: none;
}

.header {
  position: absolute;
  background-color: var(--charcoal);
  color: var(--white);
  top: 0;
  left: 0;
  width: 100%;
  padding-block: 10px;
  box-shadow: var(--shadow-1);
  z-index: 4;
}

/* .header.active {
  background-color: var(--charcoal);
  color: #fff;
  position: fixed;
  animation: slideIn 0.5s ease forwards;
} */

/* @keyframes slideIn {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
} */

.header .container {
  height: 8vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
  color: var(--white);
}

.header.active .logo-light,
.header .logo-dark {
  display: none;
  height: 100px;
  width: 160px;
}
.header .logo-light {
  display: none;
  height: 100px;
  width: 160px;
}

.header .logo-light,
.header.active .logo-dark {
  display: none;
}

.nav-open-btn {
  font-size: 3.5rem;
  color: var(--white);
}

.header.active .nav-open-btn {
  color: var(--white);
}

.navbar {
  position: fixed;
  top: 0;
  left: -300px;
  background-color: var(--raisin-black);
  color: var(--white);
  max-width: 300px;
  width: 100%;
  height: 120vh;
  padding: 30px;
  padding-block-end: 40px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  z-index: 2;
  visibility: hidden;
  transition: var(--transition-3);
}

.navbar.active {
  visibility: visible;
  background-color: var(--charcoal);
  transform: translateX(300px);
}

.navbar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-close-btn {
  background-color: var(--white);
  color: var(--charcoal);
  font-size: 2rem;
  padding: 6px;
  border-radius: var(--radius-circle);
  transition: var(--transition-1);
}

.nav-close-btn ion-icon {
  --ionicon-stroke-width: 50px;
}

.nav-close-btn:is(:hover, :focus-visible) {
  background-color: var(--white_a12);
}

.navbar-list {
  margin-block-end: auto;
  font-size: 17px;
  color: var(--white);
}

.navbar-link {
  font-weight: 400;
  font-size: 2rem;
  padding-block: 6px;
  color: var(--white);
}

.contact-link {
  transition: var(--transition-1);
}

.contact-link:is(:hover, :focus-visible) {
  color: var(--violet-blue-crayola);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--raisin-black);
  pointer-events: none;
  opacity: 0;
  transition: var(--transition-1);
}

.overlay.active {
  pointer-events: all;
  opacity: 0.8;
}

/*-----------------------------------*\
  #HERO
\*-----------------------------------*/

.hero {
  width: 100%;
  height: 100%;
  display: flex;
  padding-block-start: calc(var(--section-padding) + 70px);
  text-align: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  object-fit: contain;
  background-color: rgba(0, 0, 0, 0.4);
}

.hero .container {
  height: auto;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  gap: 70px;
}

.hero-title {
  color: var(--white);
  font-size: 5rem;
  margin: 0 0 2rem;
  text-shadow: 4px 1px 0 rgba(0,0,0,.6);
  color: #fff;
  margin-top: 10px;
  align-items: center;
}

.hero-text {
  text-align: center;
  font-size: var(--fs-5);
  color: transparent;
  margin-block: 24px 36px;
  padding: 0.5%;
}

.back-video{
  display: flex;
  -webkit-user-drag: none;
  position: absolute;
  object-fit: contain;
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.4);
}

@media (min-aspect-ratio:16/9) {
  .back-video{
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  .back-video{
    width: auto;
    height: 100%;
  }
}

.btn-wrapper {
  display: flex;
  padding: 0;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
  gap: 25px;
}


/* #ABOUT */



.intro-section {
  width: 100%;
  height: 100%;
  padding-bottom: 3%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-image: url('https://www.lafayette.edu/wp-content/uploads/2022/10/ADMISSIONS_Homepage-Maroon-And-Text.jpg');
  margin: 0;
  text-align: center;
  margin-bottom: 0;
}

.intro .section-title{
  color: #fff;
  padding-top: 5%;
  justify-content: center;
  font-weight: 500;
  
}


.intro-section .intro-section-info p {
  line-height: 2.1;
  color: #fff;
  text-align: center;
  padding-top: 3%;
  margin: auto;
  font-weight: 400;
  font-size: 20px;
  font-family: "Montserrat";
  padding-inline: 8%;
}

 .quote{
  justify-content: center;
  text-align: center;
  padding: 5%;
  margin-top: 3px;
  font-weight: 600;
  color:#fff;
  font-size: 2.1rem;
}

/*-----------------------------------*\
  #SERVICE
\*-----------------------------------*/

.service {
  text-align: center;
  margin-top: 0;
  padding: 2%;
  
}

.service .section-title {
  padding-top: 4%;
  margin-block-end: 50px;
  justify-content: center;
  font-weight: 500;
}

.service-card {
  padding: 40px;
  box-shadow: 5px 5px 15px hsla(216, 14%, 14%, 0.3);;
  border-radius: 5px;
  border-color: #222;
  height: auto;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  /* border-radius: 0.3rem; */
}

.service-card .card-icon {
  width: 60px;
  height: 60px;
  background-color: #222;
  display: grid;
  place-items: center;
  color: var(--white);
  font-size: 2.5rem;
  border-radius: var(--radius-circle);
  margin-inline: auto;
}

.service-card .card-icon ion-icon {
  --ionicon-stroke-width: 50px;
}

.service-card .card-icon:hover{
background-color: #257DAD;
}

.service-card .card-title {
  margin-block: 16px 10px;
}

.service-card .card-text {
  color: #333;
}

.service-card .btn-text {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin-block-start: 10px;
  color: var(--violet-blue-crayola);
  font-weight: var(--fw-700);
  transition: var(--transition-1);
}

.service-card .btn-text:is(:hover, :focus-visible) {
  opacity: 0.9;
}

/*-----------------------------------*\
  #WHYUS
\*-----------------------------------*/
.about {
  background-color: #1E1E1E;
  color: var(--white);
  width: 100%;
  height: 100%;
  padding: 3%;
  margin-top: 4%;
  justify-content: center;

}

.about .container {
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  padding: 1%;
}


.about .section-title {
  /* margin-block-end: 35px; */
  color: var(--white);
  padding-top: 4%;
  margin-block-end: 40px;
  justify-content: center;
  font-weight: 500;
}
.about ul{
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}
.about .about-items{
  flex: 1; /* Take up available space */
  max-width: auto; /* Adjust as needed */
  box-sizing: border-box;
  padding: 0;
}
.about li{
  margin: 5px;
  margin-block-end: 25px;
  float: left;
}

.about .section-subtitle{
  color: #257dad;
  margin: 0;
}
.about .appointment{
  background-color: var(--charcoal);
  box-sizing: border-box; 
  margin: 0;
  flex: 1; /* Take up available space */
  max-width: 450px; /* Adjust as needed */
  box-sizing: border-box;
  height: auto;
  padding: 0;
  align-items: center;
  justify-content: center;
  align-items: center;
}

.about .appointment img{
  max-width: 100%;
  height: auto; /* Maintain aspect ratio */
  overflow: hidden;
  object-fit: cover;
  width: 100%;
  position: relative;
}

.about .appointment a{
  font-weight: 500;
  font-size: 3rem;
  padding-left: 4%;
  margin-block-end: 10px;
  height: auto;
  width: auto;
  text-align: left;
}

.about .appointment p{
  font-size: large;
  padding-left: 4%;
  text-align: left;
  margin-block-end: 15px;

}

.about .appointment .button{
  color: var(--white);
  background-color: #257DAD;
  width: 80%;
  height: auto;
  padding: 0;
  margin: 0;
  border-radius: 2px;
  justify-content: center;
}

.about .appointment .button a{
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: larger;
  font-weight: 400;
  padding: 3%;
}

/*-----------------------------------*\
  #FEATURES
\*-----------------------------------*/

.feature .container {
  display: grid;
  gap: 50px;
}

.feature .section-text {
  margin-block: 25px 30px;
}

.feature-list {
  display: grid;
  gap: 15px;
}

.feature-card {
  display: flex;
  align-items: center;
  gap: 10px;
}

.feature-card .card-icon {
  background-color: var(--lavender-web);
  font-size: 1.4rem;
  padding: 4px;
  border-radius: var(--radius-circle);
}

.feature-card .card-icon ion-icon {
  --ionicon-stroke-width: 40px;
}

/*-----------------------------------*\
  #PROJECT
\*-----------------------------------*/

.project {
  background-color: var(--cultured);
}

.project :is(.section-subtitle, .section-title) {
  text-align: center;
}

.project .section-title {
  margin-block-end: 50px;
}

.project-card {
  background-color: var(--white);
  border-radius: var(--radius-8);
  overflow: hidden;
  box-shadow: var(--shadow-2);
  height: 100%;
}

.project-card .card-content {
  padding: 30px;
}

.project-card .card-title {
  transition: var(--transition-1);
}

.project-card .card-title:is(:hover, :focus-visible) {
  color: var(--violet-blue-crayola);
}

.project-card .card-text {
  margin-block: 16px 20px;
}

.project-card .card-meta-list {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.project-card .card-meta-item {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--cadet-blue-crayola);
  font-size: var(--fs-8);
}


/* #FAQ */

.faq-section {
  margin: 3em 0;
}
.faq-section .section-title {
  text-align: center;
  margin-block-end: 40px;
  justify-content: center;
  font-weight: 500;
  

  /* font-size: 1.5em; */
  color: hsla(344, 71%, 32%, 1);
}

.faq-section .section-subtitle {
  margin-top: 2.5em;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
}

.faq-section .accordian-container .accordion{
  color: #111;
}
.faq-section .accordian-container{
  width: 100%;
  margin: auto;
}

.faq-section .collapsible {
  border: none;
}

.faq-section .collapsible > li {
  margin: 1em 2em;
}

.faq-section .collapsible .collapsible-header {
  display: flex;
  justify-content: space-between;
  background: #222;
  border: none;
  color: rgba(255, 255, 255, 0.8);
  padding: 1.3em 1em;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  letter-spacing: 0.03em;
  width: 100%;
}

.faq-section .collapsible .collapsible-header .row {
  margin: 0;
  width: 100%;
}

.faq-section .collapsible .collapsible-header .row .col {
  padding: 0;
}

.faq-section .collapsible .collapsible-header i {
  text-align: right;
  margin-right: 0;
}

.faq-section .collapsible .collapsible-body {
  padding: 1rem 2rem 2rem 2rem;
  border: none;
  background: #222;
  color: rgba(255, 255, 255, 0.8);
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  letter-spacing: 0.03em;
}

.faq-section .collapsible .collapsible-body a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: underline;
  transition: all 0.5s ease-in-out;
}
.sponsor-section .sponsor-card {
  background: #fafafac4;
  border-radius: 20px;
  padding: 10px;
  transition: 0.2s ease-in-out;
}

.sponsor-section .sponsor-card .sponsor-card-img {
  display: block;
  margin: auto;
  width: 100px;
  height: 100px;
}

.sponsor-section .sponsor-card .sponsor-card-img img {
  width: 100%;
}

.sponsor-section .sponsor-card:hover {
  transform: scale(1.1);
}

/* TEAM SLIDER */

.team {
  margin: 4em 0;
  margin-top: 5%;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  align-items: center;
}

.team .section-title{
  text-align: center;
  margin-block-end: 40px;
  justify-content: center;
  font-weight: 500;
}

/* New team section css */
.team .wrapper {
  width: 100%; 
  margin: 0 auto; 
  max-width: 100%;
}
.team .cols {
  display: -webkit-box; 
  display: -ms-flexbox;
  display: flex; 
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; 
  -webkit-box-pack: center;
  -ms-flex-pack: center; 
  justify-content: center; 
}
.team .col {
  width: calc(27% - 2rem); 
  margin: 1rem;
  cursor: pointer;
}

.team .container {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 1000px; perspective: 1000px;
}
.team .front, .back {
  background-size: cover; border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
  background-position: center; backface-visibility: hidden;
  -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), 
  -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -webkit-backface-visibility: hidden;
  text-align: center; min-height: 280px;
  box-shadow: 0 0 10px solid blue; font-size: 1.5rem;
  height: auto; border-radius: 10px; color: #fff;
}

.team .back {
  background-image: linear-gradient(to right bottom, #257dad, #1a638a, #104a69, #063249, #011c2c);
  /* background-image: linear-gradient(to right bottom, #ae0d0d, #86061b, #5b0d1d, #300e16, #000000); */
  /* background-image: linear-gradient(to right bottom, #555555, #404040, #2c2c2c, #1a1a1a, #000000); */

/* background-image: linear-gradient(to right bottom, #222222, #39293f, #61264e, #8d1649, #b20030); */
}
.team .front:after {
  position: absolute; top: 0; left: 0; z-index: 1;
  width: 100%; height: 100%; content: ''; border-radius: 10px;
  display: block; opacity: .3; background-color: #000;
  -webkit-backface-visibility: hidden; backface-visibility: hidden;

}
.team .container:hover .front, .container:hover .back {
  -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), 
  -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.team .back {
  position: absolute; top: 0; left: 0; width: 100%;
}

.team .back .inner p{
  justify-content: space-between;
  font-size: 13px;
  text-align: left;
  font-weight: 400;
}

.team .inner {
  -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
  transform: translateY(-50%) translateZ(60px) scale(0.94);
  top: 50%; 
  position: absolute; 
  left: 0; width: 100%; 
  padding: 2rem;
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
  outline: 1px solid transparent; 
  -webkit-perspective: inherit;
  perspective: inherit; 
  z-index: 2;
}
.team .container .back {
  -webkit-transform: rotateY(180deg); 
  transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d; 
  transform-style: preserve-3d;
}
.team .container .front {
  -webkit-transform: rotateY(0deg); 
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d; 
  transform-style: preserve-3d;
}

.team .container:hover .back {
  -webkit-transform: rotateY(0deg); 
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d; 
  transform-style: preserve-3d;
}
.team .container:hover .front {
  -webkit-transform: rotateY(-180deg); 
  transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d; 
  transform-style: preserve-3d;
}

.team .front .inner {
  top: 80%; 
  position: absolute; 
  left: 0; 
  width: 100%; 
  padding: 2rem;
}
.team .front .inner p {
  font-size: 2rem; 
  margin-bottom: 2rem; 
  position: relative;
}
.team .front .inner p:after {
  content: ''; 
  width: 4rem; 
  height: 2px; 
  position: absolute;
  background: #C6D4DF; 
  display: block; 
  left: 0; 
  right: 0;
  margin: 0 auto; 
  bottom: -.75rem;
}
.team .front .inner span {
  color: rgba(255, 255, 255, 1); 
  font-family: 'Montserrat'; 
  font-weight: 300;
}

@media screen and (max-width: 64rem) {
  .team .col {
      width: calc(33.333333% - 2rem);
  } }
@media screen and (max-width: 48rem) {
  .team .col {
      width: calc(50% - 2rem);
  } }

@media screen and (max-width: 32rem) {
  .team .col {
      width: 100%;
      margin: 0 0 2rem 0;
  }
}


/*-----------------------------------*\
  #CTA
\*-----------------------------------*/

.cta {
  background-color: var(--charcoal);
}

.cta .container {
  padding-block: 100px 60px;
  border-block-end: 1px solid var(--cadet-blue-crayola_a20);
}

.cta .section-title {
  color: var(--white);
  margin-block-end: 20px;
  
  font-weight: 500;
}

.cta .btn {
  background-color: #257DAD;
  color: var(--white);
  border: none;
}

/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/

.footer {
  background-color: var(--charcoal);
  padding-block: 60px 100px;
  color: var(--white);
  margin-bottom: 0;
  padding-bottom: 0;
}

.footer-brand .footer-text {
  margin-block: 20px;
}

.footer .social-link {
  scale: 1.6;
  justify-content: space-around;
  padding: 8px;
}

.footer .social-link:hover{
  scale: 2;
}

.footer .social-list {
  color: var(--white);
}

.footer-list-title {
  color: var(--white);
  margin-block-end: 16px;
}

.footer-link {
  padding-block: 4px;
  transition: var(--transition-1);
  color: var(--white);
  width: fit-content;
}

.footer-link:is(:hover, :focus-visible) {
  color: var(--violet-blue-crayola);
}

.footer .footer-copyright {
  margin-top: 2%;
  margin-bottom: 0;
  padding-bottom: 0;
  align-items: center;
  background:#222;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  height: auto;
  width: 100%;
  height: auto;
  font-display: inline;
}

.footer .footer-copyright p a:hover{
  color:#fff;
}

.input-wrapper {
  position: relative;
  margin-block-start: 25px;
}

.input-field {
  background-color: var(--white_a12);
  color: var(--light-gray);
  font-size: var(--fs-7);
  padding: 12px 16px;
  border: 1px solid var(--dark-cornflower-blue_a7);
  border-radius: var(--radius-6);
  box-shadow: var(--shadow-3);
  outline: none;
}

.input-field::placeholder {
  color: inherit;
}

.submit-btn {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border-radius: 0 var(--radius-6) var(--radius-6) 0;
  background-color: #257DAD;
  color: var(--white);
  padding-inline: 24px;
  font-weight: var(--fw-700);
}

/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/

/**
 * responsive for large than 575px screen
 */

@media (min-width: 575px) {
  /**
   * REUSED STYLE
   */

  .container {
    max-width: 540px;
    width: 100%;
    margin-inline: auto;
  }

  /**
   * PROJECTS
   */

  .project-card .card-content {
    padding: 40px;
  }
}

/**
 * responsive for large than 768px screen
 */

@media (min-width: 768px) {
  /**
   * CUSTOM PROPERTY
   */

  :root {
    /**
     * spacing
     */

    --section-padding: 120px;
  }

  /**
   * REUSED STYLE
   */

  .container {
    max-width: 720px;
  }

  .grid-list {
    grid-template-columns: 1fr 1fr;
  }

  /**
   * HEADER
   */

  .header .btn {
    display: block;
    margin-inline-start: auto;
    padding: 8px 20px;
  }

  .header.active .btn {
    background-color: var(--violet-blue-crayola);
    border-color: var(--violet-blue-crayola);
    color: var(--white);
  }

  /**
   * HERO
   */

  .hero-content {
    max-width: 85%;
    margin-inline: auto;
  }

  .hero-text {
    --fs-5: 2rem;
  }

  /**
   * SERVICE
   */

  .service .section-title {
    max-width: 30ch;
    margin-inline: auto;
  }

  /**
   * ABOUT
   */

  .about .container {
    grid-template-columns: 1fr 0.7fr;
    align-items: center;
  }

  /**
   * FEATURE
   */

  .feature .container {
    grid-template-columns: 0.7fr 1fr;
    align-items: center;
  }

  .feature-banner {
    order: 1;
  }
}

/**
 * responsive for large than 992px screen
 */

@media (min-width: 992px) {
  /**
   * REUSED STYLE
   */

  .container {
    max-width: 960px;
  }

  /**
   * HEADER
   */

  .nav-open-btn,
  .navbar > *:not(.navbar-list),
  .overlay {
    display: none;
  }

  .navbar,
  .navbar.active {
    all: unset;
    display: block;
    margin-inline: auto 24px;
  }

  .navbar-list {
    display: flex;
    gap: 30px;
  }

  .navbar-link {
    color: var(--white);
    transition: var(--transition-1);
  }

  .navbar-link:is(:hover, :focus-visible) {
    opacity: 0.7;
  }

  .header.active .navbar-link {
    color: var(--charcoal);
  }

  .header.active .navbar-link:is(:hover, :focus-visible) {
    opacity: 1;
    color: var(--violet-blue-crayola);
  }

  .header .btn {
    margin-inline-start: 0;
  }

  /**
   * HERO
   */

  .hero {
    padding-block-start: calc(var(--section-padding) + 50px);
    text-align: left;
  }

  .hero .container {
    grid-template-columns: 1fr 0.8fr;
    align-items: center;
  }

  .hero-content {
    max-width: unset;
    margin-inline: 0;
  }

  .btn-wrapper {
    justify-content: flex-start;
  }

  /**
   * STATS
   */

  .stats-card {
    grid-template-columns: repeat(4, 1fr);
  }

  /**
   * PROJECT
   */

  .project .section-title {
    max-width: 32ch;
    margin-inline: auto;
  }

  /**
   * CTA
   */

  .cta .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .cta .btn {
    min-width: max-content;
  }

  .cta .section-title {
    max-width: 30ch;
    margin-block-end: 0;
  }

  /**
   * FOOTER
   */

  .footer .grid-list {
    grid-template-columns: repeat(4, 1fr);
  }
}

/**
 * responsive for large than 1200px screen
 */

@media (min-width: 1200px) {
  /**
   * REUSED STYLE
   */

  .container {
    max-width: 1140px;
  }

  /**
   * HERO
   */

  .hero-text {
    padding-inline-end: 100px;
  }

  /**
   * SERVICE
   */

  .service .grid-list {
    grid-template-columns: repeat(4, 1fr);
  }

  /**
   * STATS
   */

  .stats .container {
    max-width: 70%;
  }

  .stats-card {
    padding: 60px;
  }

  /**
   * PROJECT
   */

  .project .grid-list {
    grid-template-columns: repeat(3, 1fr);
  }

  /**
   * FOOTER
   */

  address.footer-text {
    padding-inline-end: 100px;
    margin-block-end: 16px;
  }
}

/**
 * responsive for large than 1400px screen
 */

@media (min-width: 1400px) {
  /**
   * REUSED STYLE
   */

  .container {
    max-width: 1320px;
  }

  /**
   * FEATURE
   */

  .feature-list {
    grid-template-columns: 1fr 1fr;
  }
}

/* accordian */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.active,
.accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  background-color: #fff;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.panel p {
  padding: 16px 0px !important;
}

.accordion:after {
  content: "\02795";
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active-acc:after {
  content: "\2796";
}

.accordian-container {
  max-width: 900px;
  margin-inline: auto;
}


